@import "zerostyle.scss";

$cubeSize: 40px;
$cubeRadius: 8px;

body {
	background-color: rgb(95, 202, 161);
}

.button-control__wraper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button-control__start {
	height: 50px;
	width: 100px;
	margin: 0 20px;
}

.button-control__stop {
	height: 50px;
	width: 100px;
	margin: 0 20px;
}

.time-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.border {
	flex-direction: column;
	padding: 20px;
}

.points {
	margin-top: 20px;
	width: $cubeSize;
	height: $cubeSize;
	background-color: #337ab7;
	border-radius: $cubeRadius;
}

.base-displ {
	display: flex;
	flex-direction: column;
}

tr {
	display: flex;
	width: 100%;
}

.cells {
	width: $cubeSize;
	height: $cubeSize;
	margin: 5px;
}

.cubes {
	display: block;
	width: $cubeSize;
	height: $cubeSize;
}

.cubes__animo-flip {
	animation-name: cubesAnimo;
	transform: 50% 50% 0px;
	transform-style: preserve-3d;
	perspective: 6000px;
	transform: rotate3d(1, 0, 0, 0deg);
	animation-duration: 0.8s;
}

.side {
	height: $cubeSize;
	width: $cubeSize;
	position: fixed;
	border-radius: $cubeRadius;
	transform-origin: 50% 50% 25px;
}

.right {
	background-color: #337ab7;
}

.bottom {
	background-color: #bfe2ff;
	transform: rotateX(-90deg);
}

.front {
	background-color: #337ab7;
	transform: rotateY(180deg);
}

@keyframes cubesAnimo {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotateX(0deg);
	}

	100% {
		transform: rotateX(-180deg);
	}
}
